<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-c align-items-center" th:fragment="content">



    <table class="table table-bordered w80">
        <thead>
        <tr>
            <th scope="col" class="col-md-1 text-center">ID</th>
            <th scope="col" class="col-md-6 text-center">제목</th>
            <th scope="col" class="col-md-2 text-center">유저 ID</th>
            <th scope="col" class="col-md-2 text-center">닉네임</th>
            <th scope="col" class="col-md-1 text-center">신고수</th>
        </tr>
        </thead>

        <tbody class="text-center">
        <tr th:each="post : ${data.getDtoList()}">
            <td class="text-left" th:text="${post.id}">1</td>
            <td class="text-left"><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a> </td>
            <td th:text="${post.userLoginId}">김갑인</td>
            <td th:text="${post.nickname}">김갑인</td>
            <td th:text="${post.reposts}">이메일</td>
        </tr>
        </tbody>

    </table>


    <nav>
        <ul class="pagination">
            <li th:if="${data.pageInfo.prev}">
                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${data.pageInfo.start - 1})}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${data.pageInfo.start - 1},type=${searchDTO.type},content=${searchDTO.content})}" th:text="${num}"></a>
            </li>
            <li th:class="${data.pageInfo.now == num ? 'active':''}" th:each="num: ${data.pageInfo.pageList}" >

                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${num})}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${num},type=${searchDTO.type},content=${searchDTO.content})}" th:text="${num}"></a>
            </li>


            <li th:if="${data.pageInfo.next}">
                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${data.pageInfo.end + 1})}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/users(page=${data.pageInfo.end + 1},type=${searchDTO.type},content=${searchDTO.content})}" th:text="${num}"></a>
            </li>
        </ul>
    </nav>

</div>

</html>