<!DOCTYPE html>
<html lang="en" th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>


<body>

    <div class="flex-box justify-content-center">
        <div class="flex-box justify-content-end w80">
        <a class="text-right makeBlock margin-right-10" href="#">회원가입</a>
        <a class="text-right makeBlock" href="#">로그인</a>
        </div>
    </div>
    <br>
        <div class="flex-box justify-content-center">

                <a style="background-color: red" class="w20 text-center makeBlock" href="#" th:href="@{/}">게시판 1</a>
                <a style="background-color: black" class="w20 text-center makeBlock" href="#" th:href="@{/}">게시판 2</a>
                <a style="background-color: red" class="w20 text-center makeBlock" href="#" th:href="@{/}">게시판 3</a>
                <a style="background-color: black" class="w20 text-center makeBlock" href="#" th:href="@{/}">게시판 4</a>

        </div>

    <br>
    <br>

    <div th:replace="${content}">
        <span>내용</span>
    </div>



</body>






</html>