<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">

<div class="flex-c align-items-center" th:fragment="content">

    <div class="row w80">

        <div class="col-md-8">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">공지사항</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">자유게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">정보게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Q&A</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">인기 게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>인기 게시물 1</td>
                </tr>
                <tr>
                    <td>인기 게시물 2</td>
                </tr>
                <tr>
                    <td>인기 게시물 3</td>
                </tr>
                <tr>
                    <td>인기 게시물 4</td>
                </tr>
                <tr>
                    <td>인기 게시물 5</td>
                </tr>
                <tr>
                    <td>인기 게시물 1</td>
                </tr>
                <tr>
                    <td>인기 게시물 2</td>
                </tr>
                <tr>
                    <td>인기 게시물 3</td>
                </tr>
                <tr>
                    <td>인기 게시물 4</td>
                </tr>
                <tr>
                    <td>인기 게시물 5</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>