<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">

<div class="flex-c align-items-center" th:fragment="content">

    <div class="row w80">

        <!-- 메인 게시판들 (공지, 자유, 정보, Q&A) -->
        <div class="col-md-8">

            <!-- 공지사항 -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">공지사항</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${latestPosts.noticeList}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>

            <!-- 자유게시판 -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">자유게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${latestPosts.freeList}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>

            <!-- 정보게시판 -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">정보게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${latestPosts.infoList}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>

            <!-- Q&A -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">Q&A</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${latestPosts.qnaList}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 인기 게시판 -->
        <div class="col-md-4">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="text-center">인기 게시판</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${popularPost}">
                    <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>