<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-c align-items-center" th:fragment="content">


    <table class="table table-bordered w80">
        <thead>
        <tr>
            <th scope="col" class="col-md-6 text-center">제목</th>
            <th scope="col" class="col-md-2 text-center">글쓴이</th>
            <th scope="col" class="col-md-2 text-center">날짜</th>
            <th scope="col" class="col-md-1 text-center">조회수</th>
            <th scope="col" class="col-md-1 text-center">추천</th>
        </tr>
        </thead>

        <tbody class="text-center">

        <tr th:each="post : ${posts.getDtoList()}">
        <td class="text-left"><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
        <td th:text="${post.nickname}">김갑인</td>
        <td th:text="${post.createTime}">2016-25-30</td>
        <td th:text="${post.hits}" >1</td>
        <td th:text="${post.recommendedNumber}">0</td>

        </tr>
        </tbody>

    </table>

    <nav>
        <ul class="pagination">
            <li th:if="${posts.prev}">
                <a th:href="@{/post(page=${posts.start - 1})}">이전</a>
            </li>
            <li th:class="${posts.now == num ? 'active':''}" th:each="num: ${posts.pageList}" >
                <a th:href="@{/post(page=${num})}" th:text="${num}"></a>
            </li>


            <li th:if="${posts.next}">
                <a th:href="@{/post(page=${posts.end + 1})}">다음</a>
            </li>
        </ul>
    </nav>

</div>








</html>