<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-c align-items-center" th:fragment="content">

<h1>[[${postType}]]</h1>

    <form class="flex-box justify-content-end w80" action method="get">

        <div style="vertical-align: bottom" class="text-center">
            <label class="radio-inline">
                <input type="radio" name="type" value="t" checked> 제목
            </label>

            <label class="radio-inline">
                <input type="radio" name="type" value="w"> 작성자
            </label>
        </div>

        <input type="text" class="w20 form-control" name="content" th:value="${searchDTO.content}" placeholder="Text input">
        <input type="hidden"  name="postType" th:value="${postType}"}>
        <button class="col-md-1 btn btn-primary" type="submit">검색</button>


    </form>


    <table class="table table-bordered w80">
        <thead>
        <tr>
            <th scope="col" class="col-md-6 text-center">제목</th>
            <th scope="col" class="col-md-2 text-center">글쓴이</th>
            <th scope="col" class="col-md-2 text-center">날짜</th>
            <th scope="col" class="col-md-1 text-center">조회수</th>
            <th scope="col" class="col-md-1 text-center">추천</th>
        </tr>
        </thead>

        <tbody class="text-center">

        <tr th:each="post : ${posts.getDtoList()}">
        <td class="text-left"><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
        <td th:text="${post.nickname}">김갑인</td>
        <td th:text="${#temporals.format(post.createTime, 'yyyy/MM/dd HH:mm')}">2016-25-30</td>
        <td th:text="${post.hits}" >1</td>
        <td th:text="${post.recommendedNumber}">0</td>

        </tr>
        </tbody>

    </table>

    <div class="flex-box justify-content-end w80">
        <a class="btn btn-default" th:href="@{/post/write}">글쓰기</a>
    </div>


    <nav>
        <ul class="pagination">
            <li th:if="${posts.prev}">
                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${posts.start - 1},postType=${postType}))}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${posts.start - 1},type=${searchDTO.type},content=${searchDTO.content},postType=${postType})}" th:text="${num}"></a>
            </li>
            <li th:class="${posts.now == num ? 'active':''}" th:each="num: ${posts.pageList}" >

                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${num},postType=${postType})}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${num},type=${searchDTO.type},content=${searchDTO.content},postType=${postType})}" th:text="${num}"></a>
            </li>


            <li th:if="${posts.next}">
                <a th:if="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${posts.end + 1},postType=${postType}))}" th:text="${num}"></a>
                <a th:unless="${#strings.isEmpty(searchDTO.content)}" th:href="@{/post(page=${posts.end + 1},type=${searchDTO.type},content=${searchDTO.content},postType=${postType})}" th:text="${num}"></a>
            </li>
        </ul>
    </nav>

</div>








</html>