<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-box justify-content-center" th:fragment="content">

    <div class="flex-c w80">

        <h3>[[${post.title}]]</h3>
        <br>

        <div class="flex-box justify-content-end">
            <span th:text="${post.nickname}" ></span>
        </div>

        <div class="flex-box justify-content-end">
            <span th:text="${post.getCreateTime()}"></span>
            조회수 : <span th:text="${post.hits}"></span>
            추천 :<span th:text="${post.recommendedNumber}"></span>
        </div>


        <div class="form-group">

            <textarea class="col-md-12" th:text="${post.content}" readonly>

            </textarea>

        </div>
        <h2>댓글 [[${commentNums}]]개</h2>

        <div th:each="commentdto : ${comments}">

            <div class="flex-box justify-content-space-between">
                <span th:text="${commentdto.nickname}">닉네임</span>
                <button th:onclick="|clickReport(${commentdto.id})|">신고하기</button>
            </div>


            <div>
                <p th:if="${commentdto.report >= 10}">블라인드 처리된 댓글입니다.</p>
                <p th:if="${commentdto.report < 10}" th:text="${commentdto.content}"></p>
            </div>


            <div class="flex-box justify-content-end">
                <button th:onclick="|commentUp(${commentdto.id})|">up</button>
                <span th:id="|up${commentdto.id}|" th:text="${commentdto.up}"></span>
                <button th:onclick="|commentDown(${commentdto.id})|">down</button>
                <span th:id="|down${commentdto.id}|" th:text="${commentdto.down}"></span>
            </div>

        </div>

        <form th:action="@{/comment/write/{id}(id = ${post.id})}" method="post" th:object="${commentWriteDTO}">
            <h3>댓글 작성</h3>

            <div class="flex-box">
                <textarea class="col-md-11 h-100" placeholder="댓글을 입력해주세요." th:field="*{comment}"></textarea>
                <button class="col-md-1 h-100" type="submit">작성</button>
            </div>


        </form>


    </div>


    <script th:inline="javascript">


        function clickReport(id){


            if (!confirm("해당 댓글을 신고하시겠습니까?")) {
                return;
            }


            $.ajax({
                url: "/comment/report/" + id,
                type: "GET",


                success: function (data){
                    alert(data);
                }
            })


        }

        function commentUp(id){

            $.ajax({
                url: "/comment/upButton/" + id,
                type: "GET",

                success: function (data){
                    console.log(data);
                    if (data.dup) {
                        alert("이미 down을 누른 댓글입니다.");
                        return;
                    }

                    document.getElementById("up" + id).innerHTML = "<span>" + data.upCount + "</span>";
                }


            })


        }

        function commentDown(id){

            $.ajax({
                url: "/comment/downButton/" + id,
                type: "GET",

                success: function (data){
                    console.log(data);

                    if (data.dup) {
                        alert("이미 up을 누른 댓글입니다.");
                        return;
                    }

                    document.getElementById("down" + id).innerHTML = "<span>" + data.downCount + "</span>";
                }


            })


        }






    </script>



</div>






</html>