<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-box justify-content-center" th:fragment="content">

    <div style="background: white" class="flex-c w80">


        <h2>[[${post.title}]]</h2>
        <div class="flex-box justify-content-start border-bottom">
            <p class="margin-right-10" th:text="${post.nickname}" ></p>
            <p class="margin-right-10" th:text="${#temporals.format(post.createTime, 'yyyy/MM/dd HH:mm')}   "></p>
            조회수 : <span th:text="${post.hits}"></span>
            <p class="margin-right-10" th:text="${userType eq 'ADMIN'}" ></p>

        </div>


        <div class="flex-box justify-content-end" th:if="${session.loginUser eq post.nickname or userType eq 'ADMIN'}">
            <a th:href="@{/post/update/{id}(id = ${post.id})}" class="btn btn-primary">수정</a>
            <a th:href="@{/post/delete/{id}(id = ${post.id})}" class="btn btn-danger">삭제</a>
        </div>



        <hr>
        <div class="form-group test">

            <div class="col-md-12" th:utext="${post.content}">

            </div>

        </div>

        <div class="flex-c align-items-center justify-content-center border-bottom-3px" >

            <button class="btn-link" th:onclick="|clickRecommend(${post.id})|"><img src="../../static/icon/icons8-volunteering-64.png" th:src="@{/icon/icons8-volunteering-64.png}"></button>
            <p id="recommendedNumber" th:text="${post.recommendedNumber}">0</p>


        </div>


        <h2 id="commentNums" >댓글 [[${commentNums}]]개</h2>

    <div id="comments">
        <div th:id="|comment${commentDTO.id}|" th:class="flex-c" th:each="commentDTO : ${comments}">

            <div  class="flex-box justify-content-space-between">
                <span th:text="${commentDTO.nickname}">닉네임</span>
                <div>
                <button th:if="${session.loginUser eq commentDTO.nickname or userType eq 'ADMIN'}" th:onclick="|clickDelete(${commentDTO.id},${commentNums})|" >삭제</button>
                <button th:unless="${session.loginUser eq commentDTO.nickname or userType eq 'ADMIN'}" th:onclick="|clickReport(${commentDTO.id})|">신고</button>

                </div>
            </div>

            <div>
                <p th:if="${commentDTO.report >= 10}">블라인드 처리된 댓글입니다.</p>
                <textarea class="col-md-12 h-100" th:id="|commentContent${commentDTO.id}|" th:if="${commentDTO.report < 10}" th:text="${commentDTO.content}" readonly></textarea>
            </div>


            <div class="flex-box justify-content-end margin-bottom-30">
                <button class="btn-link" th:onclick="|commentUp(${commentDTO.id})|"><img th:src="@{/icon/icons8-thumbs-up-24.png}"></button>
                <span th:id="|up${commentDTO.id}|" th:text=" ${commentDTO.up}"></span>
                <button class="btn-link" th:onclick="|commentDown(${commentDTO.id})|"><img th:src="@{/icon/icons8-thumbs-down-24.png}"></button>
                <span th:id="|down${commentDTO.id}|" th:text=" ${commentDTO.down}"></span>
            </div>

        </div>
    </div>

        <div>

            <div class="flex-box">
                <textarea id="newComment" class="col-md-11 h-100" placeholder="댓글을 입력해주세요."></textarea>
                <button class="col-md-1 h-100" th:onclick="|addComment(${post.id})|">작성</button>
            </div>


        </div>


    </div>


    <script th:inline="javascript">

        let postId = [[${post.id}]];


        function showComments(id){

            const loginUser = [[${session.loginUser}]];
            const userType = [[${session.userType}]];
            let commentNums;

            $.ajax({
                url: "/comment/" + id,
                type: "GET",

                success: function (data) {
                    commentNums = data.length;

                    $("#comments").empty();

                    console.log(data)
                    data.forEach(function (commentDTO) {


                        document.getElementById("comments").innerHTML += '<div id="comment' + commentDTO.id + '"class="flex-c">\n' +
                            '<div  id="commentHead'+commentDTO.id+'" class="flex-box justify-content-space-between">\n' +
                            '<span>' + commentDTO.nickname + '</span>';


                                if (loginUser === commentDTO.nickname || userType === "ADMIN") {
                                    document.getElementById("commentHead"+commentDTO.id).innerHTML += '<div> <button onclick="clickDelete(' + commentDTO.id + ')">삭제</button> </div>';
                                } else {
                                    document.getElementById("commentHead"+commentDTO.id).innerHTML += '<div> <button onclick="clickReport(' + commentDTO.id + ')">신고</button> </div>';
                                }




                            if (commentDTO.report >= 10) {
                                document.getElementById("comment"+commentDTO.id).innerHTML += '<p>블라인드 처리된 댓글입니다.</p>';
                            } else {
                                document.getElementById("comment"+commentDTO.id).innerHTML += '<div><textarea class="col-md-12 h-100" id="commentContent' + commentDTO.id + '" readonly>' + commentDTO.content + '</textarea> </div>'
                            }



                            document.getElementById("comment"+commentDTO.id).innerHTML += ' <div class="flex-box justify-content-end margin-bottom-30">\n' +
                                '                <button class="btn-link"onclick="commentUp(' + commentDTO.id + ')"><img src="/icon/icons8-thumbs-up-24.png"></button>\n' +
                                '                <span id="up' + commentDTO.id + '">'+commentDTO.up+'</span>\n' +
                                '                <button class="btn-link" onclick="commentDown(' + commentDTO.id + ')"><img src="/icon/icons8-thumbs-down-24.png"></button>\n' +
                                '                <span id="down' + commentDTO.id + '">'+commentDTO.down+'</span>\n' +
                                '            </div>';



                        }
                    );

                    $("#commentNums").html("댓글 " + commentNums + "개");
                }

            });



        }


        function clickRecommend(id){




            $.ajax({
                url: "/post/recommend/" + id,
                type: "GET",

                success: function (data){
                    console.log(data);
                    $("#recommendedNumber").text(data);
                }
            })


        }


        function clickReport(id){


            if (!confirm("해당 댓글을 신고하시겠습니까?")) {
                return;
            }


            $.ajax({
                url: "/comment/report/" + id,
                type: "PATCH",


                success: function (data){
                    alert(data);
                }
            })


        }

        function addComment(id){

             let content = document.getElementById("newComment").value;

            let comment = new Object();

            console.log(content)

            if (content.length == 0) {
                alert("댓글을 입력해주세요");
                return;
            }

            comment.content = content;

            console.log(JSON.stringify(comment));

            $.ajax({
                url: "/comment/" + id,
                type: "POST",
                data: JSON.stringify(comment),
                contentType: "application/json; charset=uft-8",

                success: function (data) {
                    console.log(data);
                    showComments(id);
                    document.getElementById("newComment").value = null;

                }

            })

        }

        function clickDelete(id) {

            if (!confirm("해당 댓글을 삭제하시겠습니까?")) {
                return;
            }


            console.log(id);

            $.ajax({
                url: "/comment/" + id,
                type: "DELETE",


                success: function (data){
                    alert(data);
                    showComments(postId)
                }
            })



        }

        function commentUp(id){

            $.ajax({
                url: "/comment/upButton/" + id,
                type: "GET",

                success: function (data){
                    console.log(data);
                    if (data.dup) {
                        alert("이미 down을 누른 댓글입니다.");
                        return;
                    }

                    document.getElementById("up" + id).innerHTML = "<span>" + data.upCount + "</span>";
                }


            })


        }

        function commentDown(id){

            $.ajax({
                url: "/comment/downButton/" + id,
                type: "GET",

                success: function (data){
                    console.log(data);

                    if (data.dup) {
                        alert("이미 up을 누른 댓글입니다.");
                        return;
                    }

                    document.getElementById("down" + id).innerHTML = "<span>" + data.downCount + "</span>";
                }


            })


        }






    </script>



</div>






</html>