<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<div class="flex-box justify-content-center" th:fragment="content">

    <form action th:object="${post}" method="post" class="flex-c w80 align-items-center">

        <select th:field="*{postType}" class="form-control">
            <option th:each="postCode: ${postCodes}" th:value="${postCode.postType}"th:text="${postCode.displayName}" ></option>
        </select>
        <br>

        <input type="text" class="form-control" placeholder="제목을 입력해주세요." th:field="*{title}">
        <br>

        <textarea id="summernote" placeholder="내용을 입력해주세요." th:field="*{content}">

        </textarea>
        <div>
            <button href="#" class="w-300 btn btn-success" type="submit">수정</button>
            <a th:href="@{/post/{postId}(postId = ${id})}" class="w-300 btn btn-danger">취소</a>
        </div>

    </form>


    <script>

        $(document).ready(function() {
            //여기 아래 부분
            $('#summernote').summernote({
                width: '100%',
                height: 500,                 // 에디터 높이
                lang: "ko-KR",					// 한글 설정
                callbacks : {
                    onImageUpload: function(files) {
                        uploadSummernoteImageFile(files[0],this);
                    },

                },
                placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정

            });
        });

        function uploadSummernoteImageFile(file, editor) {

            let data = new FormData();
            data.append("file", file);

            $.ajax({
                data : data,
                type : "POST",
                url : "/post/image",
                contentType : false,
                processData : false,
                success : function(data) {
                    //항상 업로드된 파일의 url이 있어야 한다.
                    console.log(data);
                    $(editor).summernote('insertImage', data);
                }
            });
        }


    </script>



</div>








</html>