<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">


<body>

<div class="flex-c align-items-center" th:fragment="content">



    <h1 class="margin-bottom-30" th:text="${nickname}"></h1>

    <div class="flex-c text-center margin-bottom-30">
        <h3>내가 쓴 게시물</h3>
        <a th:href="@{/mypage/{id}/posts(id = ${userId})}" th:text="${postNum}"></a>
    </div>

    <div class="flex-box justify-content-end w80" th:if="${session.loginUser.equals(nickname)}">
        <a th:href="@{/mypage/edit}" class="btn btn-info">정보수정</a>
        <a th:href="@{/mypage/passwordChange}" class="btn btn-success">비밀번호 변경</a>
    </div>


    <table class="table table-bordered w80">

        <tbody class="text-center">

        <tr th:each="log : ${logs.getDtoList()}">
            <td>

                <div th:if="${log.commentCheck}">

                    <a th:href="@{/mypage/{id}(id=${log.commentWriterId})}" th:text="${log.commentWriter}"></a>
                    <span th:text="${log.getMessage()}"></span>
                    <span class="text-size-5 color-grey" th:text="${#temporals.format(log.createTime, 'yyyy/MM/dd HH:mm')}"></span>

                </div>
                <div th:unless="${log.commentCheck}">

                    <span th:text="${log.getMessage()}"></span>
                    <span class="text-size-5 color-grey" th:text="${#temporals.format(log.createTime, 'yyyy/MM/dd HH:mm')}"></span>

                </div>


                <a th:href="@{/post/{id}(id=${log.postId})}" th:text="${log.getPostTitle}"></a>
            </td>


        </tr>
        </tbody>



    </table>

    <nav>
        <ul class="pagination">
            <li th:if="${logs.prev}">
                <a th:href="@{/mypage/{id}/posts(page=${logs.start - 1}, id =${userId})}"><</a>
            </li>
            <li th:class="${logs.now == num ? 'active':''}" th:each="num: ${logs.pageList}" >

                <a th:href="@{/mypage/{id}/posts(page=${num}, id = ${userId})}" th:text="${num}"></a>
            </li>


            <li th:if="${logs.next}">
                <a th:href="@{/mypage/{id}/posts(page=${logs.end + 1},id=${userId})}">></a>
            </li>
        </ul>
    </nav>



</div>


</body>
</html>