<!DOCTYPE html>
<html lang="en" th:replace="~{layout/base :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">



<div class="flex-box justify-content-center align-items-center" th:fragment="content">

    <div class="flex-c h-800 justify-content-center align-items-center">

        <h2>비밀번호 변경</h2>
        <br>


        <form action method="post" th:object="${password}">
            <div class="w-300">
                <input class="login-input" type="password" placeholder="현재 비밀번호" th:field="*{nowPassword}">
                <p th:errors="*{nowPassword}" class="field-error">현재 비밀번호 오류</p>
                <br>

                <input class="login-input" type="password" placeholder="새 비밀번호" th:field="*{newPassword}">
                <p th:errors="*{newPassword}" class="field-error">새 비밀번호 오류</p>
                <br>

                <input class="login-input" type="password" placeholder="새 비밀번호 확인" th:field="*{newPasswordCheck}">
                <p th:errors="*{newPasswordCheck}" class="field-error">새 비밀번호 확인 오류</p>
                <br>

            </div>
            <br>
            <br>


            <button class="w-300 btn btn-primary" type="submit">비밀번호 변경</button>
        </form>

    </div>
</div>



</html>